---
layout: layout.pug
title: Tags
description: All tags used on the website
permalink: /tags/index.html
---

style.
    main nav ul {
        flex-wrap: wrap;
    }

main
    h2 All tags:
    nav
        ul
            for tag in allTags
                li
                    a(href="/tags/" + tag.toLowerCase())=tag