---
title: All tags
description: A list of all tags the code snippets can be tagged with!
permalink: /tags/index.html
---
extends /layout.pug

block content

    style.
        main nav ul {
            flex-wrap: wrap;
        }

    main
        h2 All tags:
        nav
            ul
                for tag in allTags
                    li
                        a(href="/tags/" + tag.toLowerCase())=tag