---
pagination:
    data: allTags
    alias: tag
    size: 1
eleventyComputed:
    title: "| #{tag}"
    description: "| All entries tagged with #{tag}"
    filter: "| #{tag}"
    permalink: "| /tags/#{tag.toLowerCase()}/index.html"
---
extends /sheet.pug
