doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="/node_modules/@picocss/pico/css/pico.cyan.min.css")
        link(rel="stylesheet", href="/node_modules/prismjs/themes/prism-coy.min.css")
        link(rel="stylesheet", href="/static/stylesheet.css")
    body
        header
            nav(aria-label="breadcrumb")
                h1
                    ul
                        li
                            a(href="/") Denperidge's Cheatsheet

                        unless page.url == "/"
                            if page.url.startsWith("/tags/")
                                - const allTagsText = page.url == "/tags/" ? "All tags" : "Tags"
                                li
                                    a(href="/tags/")=allTagsText
                                if page.url != "/tags/"
                                    li
                                        a(href=page.url)=title
            if page.url != "/tags/"
                nav#tag-nav
                    ul.overflow-auto
                        li
                            a(href="/tags/") All tags
                        for tag in allTags 
                            li
                                a(href="/tags/" + tag.toLowerCase())=tag

        | !{content}
