---
layout: layout.pug
---

include _entry.pug

style.
    ul {
        padding: 0;
        margin: 0;
    }
    ul li {
        list-style: none;
    }
    #sheet code {
        padding-left: 0;
        padding-right: 0;
    }
    #sheet > li {
        flex: 1;
    }
    #sheet article {
        max-width: 100%;
        padding: 20px;
    }
    #sheet {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 25px;
    }

main
    nav
        ul
            li
                a(href="/")
                    h1=title
            li
                a(href="/tags/") Tags
    ul#sheet
        - let sheet = cheatsheet;
        if filter
            - sheet = sheet.filter(entry => entry.tags.includes(filter))

        for entry in sheet
            li
                +renderEntry(entry, sheet)
    