---
layout: layout.pug
---

include _entry.pug

main
    nav
        ul
            li
                a(href="/")
                    h1=title
            li
                a(href="/tags/") Tags
    ul#sheet
        - let sheet = cheatsheet;
        if filter
            - sheet = sheet.filter(entry => entry.tags.includes(filter))

        for entry in sheet
            li
                +renderEntry(entry, sheet)
    