---
title: Redirect
pagination:
    data: cheatsheet
    alias: entry
    size: 1
eleventyComputed:
    title: "| !{entry.problem}"
    description: "| !{entry.solution}"
    permalink: "| /entry/#{entry.id}/index.html"
---
extends /layout.pug

block content
    include ../_includes/_entry.pug
    main 
        +renderEntry(entry, cheatsheet)
