---
layout: layout.pug
permalink: /entry/
title: Redirect
description: "Redirecting..."
redirectTo: /
---

main#main
    p Redirecting to #[a(href=redirectTo) home page]!
    p Attempting to redirect in 2 seconds...

script.
    setTimeout(()=> { window.location.href = "#{redirectTo}"; }, 2000)